.btn{
  background-color: white;
  color: #8E1B6D;
}
p{
  text-align: center;
  text-decoration: underline;
}
p2{
  font-size: 16px;
}
.jumbotron{
  background-color: #13020E;
}
h1{
  text-align:center;
  font-family: bonkers;
  text-decoration: underline;
}
.em{
  color: #2C0E23
}
#youScore{
  font-size: 20px;
  font-style: brandon grotesque;
}
